<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<p>Sign Up</p>
<button class="btn black">
<a href="accounts/register" >Register</a>
</button>
<br>
<br>
<p>Already have an Account?</p>
<a href="accounts/login">login</a>
</body>
</html>