{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>website</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Ranchers' %}">
</head>

<body style="background: rgb(255,255,255);">
    <section class="login-clean" style="background: url({% static 'BlurredBG.png' %}) top / cover no-repeat;width: 100vw;height: 100vh;">
        <form data-bss-recipient="905baeea934a93d246db1fa3082e78e9" style="box-shadow: 6px 15px 20px 0px rgb(60,62,64);" action="login" method="POST">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate" style="color: #88320c;"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background: #88320c;">Log In</button></div>
        </form>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>

    <script type="text/javascript" src="{% static 'extra/checkInactive.js' %}"></script>
    <div>
        {% for i in messages %}
          <h4>{{ i }}</h4>
        {% endfor %}
    </div>
</body>

</html>